# ListÂ :
A list in Python is a collection data type that is ordered, mutable (changeable), and allows duplicate elements. Lists are used to store multiple items in a single variable. we can store any type of data in list like (int,str,bool). list is heterogenous

In [6]:
x = [1,2,3,4] # homogenus list
y = ['nani', 'mani', 'hari']
z = [1, 'naveen', True, 1.0]  # heterogenous 
a = [] # empty  list
b = [1,2,3,[4,5],5,6] # nested-list
print(x)
print(y)
print(z)
print(a)
print(b)

[1, 2, 3, 4]
['nani', 'mani', 'hari']
[1, 'naveen', True, 1.0]
[]
[1, 2, 3, [4, 5], 5, 6]

# List Methods :

# 1. append() :

Adds an element to the end of the list.

In [30]:
x = [1, 2, 3, 4, 5]
y = [1, 2, 3, 4, 5]
x.append(1)
y.append([1,2])
print(x)
print(y)

[1, 2, 3, 4, 5, 1]
[1, 2, 3, 4, 5, [1, 2]]

# 2. extend()

Adds all elements of a list (or any iterable) to the end of the current list.

In [37]:
x = [1, 2, 3, 4, 5]
x.extend([1,2])
x.extend('nani')
print(x)

[1, 2, 3, 4, 5, 1, 2, 'n', 'a', 'n', 'i']

# 3. insert()

Inserts an element at a specified position.

In [39]:
x = [1, 2, 3, 4, 5] # in this we added 'a' at the position of 2
x.insert(2, 'a') 
x

[1, 2, 'a', 3, 4, 5]

# 4. remove()

The remove() method removes the first occurrence of the element with the specified value.

In [45]:
x = [1, 2, 3, 4, 5]
x.remove(2)
x

[1, 3, 4, 5]

# 5. pop()

Removes the element at the specified position and returns it. If no index is specified, it removes and returns the last item.

In [58]:
x = [1, 2, 3, 4, 5]
y = [1, 2, 3, 4, 5]
x.pop()
y.pop(2)
print(x)
print(y)

[1, 2, 3, 4]
[1, 2, 4, 5]

# 6. clear()

Removes all items from the list. its returns the empty list

In [ ]:
x = [1, 2, 3, 4, 5]
x.clear()
x

# 7. index()

Returns the index of the first element with the specified value. its give the position of the given element

In [61]:
x = [1, 2, 3, 4, 5]
x.index(2)

1

# 8. count()

Returns the number of elements with the specified value.

In [62]:
x = [1, 2, 3, 4, 5]
x.count(2)

1

# 9. sort()

Sorts the list in ascending order by default. Can be customized with a key and reverse parameters.

In [67]:
x = [3,5,6,4]
x.sort()
x

[3, 4, 5, 6]

# 10. reverse()

Reverses the order of the list.

In [69]:
x = [1, 2, 3, 4, 5]
x.reverse()
x

[5, 4, 3, 2, 1]

# 11. copy()

Returns a shallow copy of the list.

In [36]:
x = [1, 2, 3, 4, 5]
x.copy()
x

[1, 2, 3, 4, 5]

# Tuple () :
    A Tuple in Python is a collection data type that is ordered, immutable (unchangeable), and allows duplicate elements. Tuples are used to store multiple items in a single variable. we can store any type of data in list like (int,str,bool). Tuple is heterogenous.

In [24]:
x = (1,2,3,4) # homogenus tuple
y = ('nani', 'mani', 'hari')
z = (1, 'naveen', True, 1.0)  # heterogenous 
a =  () # empty  tuple
b = (1,2,3,(4,5),5,6) # nested-tuple
c = (2) # is gives the int type because after the element we have to put (,) comma
d = (2,) # it is correct Tuple 
print(type(x))
print(type(y))
print(type(z))
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'int'>
<class 'tuple'>

# Tuple Methods:

# 1. count():
    Returns the number of times a specified value appears in the tuple.

In [28]:
Tuple = (1, 2, 3, 2, 2, 4)
print(Tuple.count(2))

3

# 2. index():
    Returns the index of the first occurrence of a specified value in the tuple.

In [30]:
Tuple = (1, 2, 3, 2, 2, 4)
print(Tuple.index(2))

1

# 3. slicing ( start : end : step): 
    slicing in Python allows you to access elements from the end of a sequence, such as a string, list, or tuple.

In [34]:
Tuple = (1, 2, 3, 2, 2, 4)
print(Tuple[:2])  
print(Tuple[:])
print(Tuple[::2])

(1, 2)
(1, 2, 3, 2, 2, 4)
(1, 3, 2)