# sets {} :
     sets are a built-in data type used to store collections of unique items. They are mutable, unordered, and do not allow duplicate elements. indexing is not allowed because sets are unordered.

# creating set :

In [3]:
a = {1,2,3,4,}
b = set([1,2,3,4])
c = {1, 'nani', True, 13.0}
d = {(1,2,3)}
e = set()     # empty set 
f = set([1,2,3,4])
g = {} # it is Dictionarie not set 

print(type(a),type(b),type(c),type(d),type(e),type(f),type(g), sep='\n')

<class 'set'>
<class 'set'>
<class 'set'>
<class 'set'>
<class 'set'>
<class 'set'>
<class 'dict'>

# Unhashable objects: 
Cannot be used as elements in a set or keys in a dictionary because they do not have a fixed hash value. Examples include lists, dictionaries, and sets.
# Hashable objects:
Can be used as elements in a set or keys in a dictionary because they have a fixed hash value. Examples include integers, strings, and tuples (containing only hashable elements).

In [4]:
x = {[1,2,3]}

TypeError: unhashable type: 'list'

In [5]:
a[2] # type error because indexing is not possible

TypeError: 'set' object is not subscriptable

# sets methods :

In [6]:
x = {1,2,3,4,}
dir(x)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

# 1.add(): 
    Adds an element to the set.

In [50]:
x = {1, 2, 3, 4, 5}
x.add(6)
x

{1, 2, 3, 4, 5, 6}

In [51]:
x.add((7,8))
x

{(7, 8), 1, 2, 3, 4, 5, 6}

# 2. remove(): 
    Removes an element from the set. Raises a KeyError if the element is not found.

In [121]:
x = {1, 2, 3, 4, 5}
x.remove(5)
print(x)

{1, 2, 3, 4}

In [15]:
x.remove(6)  # if the element is not found in set it's gives error

KeyError: 6

# 3. discard():
    Removes an element from the set if it is a member. Does nothing if the element is not found.

In [21]:
x = {1, 2, 3, 4, 5}
x.discard(5)
x

{1, 2, 3, 4}

In [24]:
x.discard(6) # if the element is not found in set it's gives original set
x

{1, 2, 3, 4}

# 4.pop():
    Removes and returns an arbitrary (random) element from the set. Raises a KeyError if the set is empty.

In [47]:
x = {0, 1, 'nani', True, 13.0}
x.pop()
print(x)

{1, 13.0, 'nani'}

# 5. clear():
    Removes all elements from the set. its shows the empty set()

In [53]:
x = {1, 2, 3, 4, 5}
x.clear()
x

set()

# 6. copy(): 
    it's copy of the set and return the original set

In [58]:
x = {1, 2, 3, 4, 5}
x.copy()
x

{1, 2, 3, 4, 5}

# 7. union() or | :
    Returns a new set with elements from both sets. it's  gives the unique values from the both the sets

In [64]:
x = {1, 2, 3}
y = {3, 4, 5}

x.union(y)

{1, 2, 3, 4, 5}

In [73]:
x | y  # another way to union()

{1, 2, 3, 4, 5}

# 8. update():
    Updates the set with elements from another set or any iterable.

In [68]:
x = {1, 2, 3}  # all the  y variable elements move to the variable x 
y = {3, 4, 5}
x.update(y)
x

{1, 2, 3, 4, 5}

# 9. intersection():
    Returns a new set with elements common to both sets.

In [93]:
x = {1, 2, 3} # it's gives the common values from the both sets 
y = {3, 4, 5}
x.intersection(y)

{3}

In [88]:
x

{1, 2, 3}

In [75]:
x & y

{3}

# 10. intersection_update(): 
         Updates the set with the intersection of itself and another.

In [92]:
x = {1, 2, 3}  # it's update the common values of both the elements  to the new set 
y = {3, 4, 5}
x.intersection_update(y)
x

{3}

In [91]:
x

{3}

# 11. difference(): 
    Returns a new set with elements in the set that are not in the other.

In [102]:
x = {1, 2, 3}   
y = {3, 4, 5}

x.difference(y)

{1, 2}

In [103]:
x

{1, 2, 3}

# 12. difference_update():
    Updates the set with the difference of itself and another.

In [104]:
x = {1, 2, 3}   
y = {3, 4, 5}

x.difference_update(y)
x

{1, 2}

In [105]:
x

{1, 2}

# 13. symmetric_difference():
    Returns a new set with elements in either set but not in both.

In [106]:
x = {1, 2, 3}   
y = {3, 4, 5}

x.symmetric_difference(y)

{1, 2, 4, 5}

In [107]:
x

{1, 2, 3}

# 14. symmetric_difference_update(): 
            Updates the set with the symmetric difference of itself and another.

In [109]:
x = {1, 2, 3}   
y = {3, 4, 5}

x.symmetric_difference_update(y)
x

{1, 2, 4, 5}

In [110]:
x

{1, 2, 4, 5}

# 15. issubset():
    Checks if the set is a subset of another set.

In [111]:
x = {1, 2, 3}   # it's checks the x values in y or not 
y = {3, 4, 5}

x.issubset(y)

False

In [113]:
x = {1, 2, 3}   
y = {1,2,3, 4, 5}

x.issubset(y)

True

# 16. isdisjoint():
    Checks if the set has no elements in common with another set.

In [114]:
x = {1, 2, 3}   # it's check the any common elements on both sets if there any common its gives False
y = {3, 4, 5}

x.isdisjoint(y)

False

In [116]:
x = {1, 2,}   
y = {3, 4, 5}

x.isdisjoint(y)

True

# 17. issuperset():
    Checks if the set is a superset of another set.

In [119]:
x = {1, 2, 3}   # it is reverse to the subset 
y = {1,2,3, 4, 5}

x.issuperset(y)

False

In [124]:
x = {1, 2, 3,4,5}   
y = {3,4,5}

x.issuperset(y)

True

# 18. del () :
    this will raise an error because the set no longer exists

In [60]:
x = {1, 2, 3,4,5}   
del x
x

NameError: name 'x' is not defined

# Dictionaries : 
                Dictionaries in Python are unordered collections of key-value pairs. Each key-value pair maps the key to its associated value. Dictionaries are mutable, meaning they can be changed after they are created.

# Creating a Dictionary :

In [62]:
x = {'name'   : ['nani', 'mani' , 'hari'],
    'roll no' : [1,2,3], 
    'marks'   : [70, 60,50]}
x

{'name': ['nani', 'mani', 'hari'], 'roll no': [1, 2, 3], 'marks': [70, 60, 50]}

In [63]:
dir(x)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

# Dictionary Methods:

# 1. clear()
Removes all items from the dictionary. it's give empty Dictionary

In [66]:
x = {'name'   : ['nani', 'mani' , 'hari'],
    'roll no' : [1,2,3], 
    'marks'   : [70, 60,50]}
x.clear()
x

{}

# 2. copy()
Returns a shallow copy of the dictionary.

In [67]:
x = {'name'   : ['nani', 'mani' , 'hari'],
    'roll no' : [1,2,3], 
    'marks'   : [70, 60,50]}
x.copy()
x

{'name': ['nani', 'mani', 'hari'], 'roll no': [1, 2, 3], 'marks': [70, 60, 50]}

# 3. fromkeys()
Creates a new dictionary with keys from a sequence and values set to a specified value if the values not specified it's gives None

In [96]:
x = {'name'   : ['nani', 'mani' , 'hari'],
    'roll no' : [1,2,3], 
    'marks'   : [70, 60,50]}
print(x)

{'name': ['nani', 'mani', 'hari'], 'roll no': [1, 2, 3], 'marks': [70, 60, 50]}

In [82]:
dict.fromkeys(x)
# it creat new dictionary from the given dictionary if we specified value the values not specified it's gives None

{'name': None, 'roll no': None, 'marks': None}

In [84]:
y = {1 :"n", 2 : 'h'}
y

{1: 'n', 2: 'h'}

In [97]:
y.fromkeys(x)  # it takes the keys from the existing  dictionary it means x dictionar keys

{'name': None, 'roll no': None, 'marks': None}

In [95]:
y.fromkeys()

TypeError: fromkeys expected at least 1 argument, got 0

# 4. items()
Returns a view object that displays a list of dictionary's key-value tuple pairs.

In [102]:
x = {'name'   : ['nani', 'mani' , 'hari'],
    'roll no' : [1,2,3], 
    'marks'   : [70, 60,50]}

x.items() # we got all the keys and values of Dictionaries

dict_items([('name', ['nani', 'mani', 'hari']), ('roll no', [1, 2, 3]), ('marks', [70, 60, 50])])

# 5. keys()
  Returns a view object that displays a list of all the keys.

In [103]:
x = {'name'   : ['nani', 'mani' , 'hari'],
    'roll no' : [1,2,3], 
    'marks'   : [70, 60,50]}

x.keys() # we got keys of Dictionaries

dict_keys(['name', 'roll no', 'marks'])

# 6. values()
Returns a view object that displays a list of all the values.

In [104]:
x = {'name'   : ['nani', 'mani' , 'hari'],
    'roll no' : [1,2,3], 
    'marks'   : [70, 60,50]}

x.values()  # we got values  of Dictionaries

dict_values([['nani', 'mani', 'hari'], [1, 2, 3], [70, 60, 50]])

# 7. setdefault()
Returns the value of a key if it is in the dictionary. If not, it inserts the key with a specified value. if values not given its give None

In [107]:
x = {'name'   : ['nani', 'mani' , 'hari'],
    'roll no' : [1,2,3], 
    'marks'   : [70, 60,50]}

x.setdefault('name', 'nani')   # we provide valid key from the  dictionary it's gives the values of given key

['nani', 'mani', 'hari']

In [108]:
x.setdefault('namea') # if the key not found it creat the key and value give None 
x

{'name': ['nani', 'mani', 'hari'],
 'roll no': [1, 2, 3],
 'marks': [70, 60, 50],
 'namea': None}

# 8. update()
Updates the dictionary with elements from another dictionary object or from an iterable of key-value pairs.

In [109]:
x = {'name'   : ['nani', 'mani' , 'hari'],
    'roll no' : [1,2,3], 
    'marks'   : [70, 60,50]}

x.update({'class' : 8})  # it's creat the new key and values to the dictionary 
x

{'name': ['nani', 'mani', 'hari'],
 'roll no': [1, 2, 3],
 'marks': [70, 60, 50],
 'class': 8}

# 9. get()
Returns the value for key if key is in the dictionary, else default.

In [117]:
x = {'name'   : ['nani', 'mani' , 'hari'],
    'roll no' : [1,2,3], 
    'marks'   : [70, 60,50]}

x.get('name') # it give the value from the given  key

['nani', 'mani', 'hari']

In [118]:
x.get('njbs') # if we give  invalid key it give the entire dictionary 
x

{'name': ['nani', 'mani', 'hari'], 'roll no': [1, 2, 3], 'marks': [70, 60, 50]}

# 10. pop()
Removes the specified key and returns the corresponding value. If the key is not found, default is returned.

In [120]:
x = {'name'   : ['nani', 'mani' , 'hari'],
    'roll no' : [1,2,3], 
    'marks'   : [70, 60,50]}

x.pop('marks') # it remove the specified key from the dictionary
x

{'name': ['nani', 'mani', 'hari'], 'roll no': [1, 2, 3]}

# 11. popitem()
Removes and returns a random (key, value) pair from the dictionary. Dictionaries are unordered, so you can't predict which item will be popped.

In [121]:
x = {'name'   : ['nani', 'mani' , 'hari'],
    'roll no' : [1,2,3], 
    'marks'   : [70, 60,50]}

x.popitem() # its remove the last key from the dictionary

('marks', [70, 60, 50])