# type of errors  :

# 1. Syntax Error
A syntax error occurs when the code doesn't follow the correct syntax rules of Python. It's like making a grammar mistake in a sentence.

# incorrect code

In [1]:
print("Hello, world!"

SyntaxError: incomplete input (2592442840.py, line 1)

# correct code

In [2]:
print("Hello, world!")

Hello, world!

# 2.  Indentation Error
Python uses indentation to define the structure of the code. An indentation error happens when the spaces or tabs are used incorrectly.

# incorrect codeÂ¶

In [3]:
if True:
print("This is True")

IndentationError: expected an indented block after 'if' statement on line 1 (856893801.py, line 2)

# correct code

In [4]:
if True:
    print("This is True")

This is True

# 3. Name Error
A name error occurs when the code tries to use a variable or function name that hasn't been defined.

# incorrect code

In [5]:
name = "nani"
print(age)

NameError: name 'age' is not defined

# correct code

In [6]:
name = "nani"
print(name)

nani

# 4. Type Error
A type error happens when an operation is applied to an object of an inappropriate type.

# incorrect code

In [7]:
a= '5'
b = 5
print(a+b)

TypeError: can only concatenate str (not "int") to str

# correct code

In [9]:
a= '5'
b = 5
print(int(a)+b)

10

# 5. ValueError
    This error occurs when a function receives an argument of the correct type but inappropriate value.
    fro example You can't convert the string "hello" to an integer.

# incorrect code

In [10]:
print(int("hello"))

ValueError: invalid literal for int() with base 10: 'hello'

# correct code

In [11]:
print('hello')

hello

# 6. Index Error:

    An index error happens when the code tries to access an element at an invalid index in a list or array.

# incorrect code

In [12]:
my_list = [1, 2, 3]
print(my_list[3])

IndexError: list index out of range

# correct code

In [13]:
my_list = [1, 2, 3]
print(my_list[2])

3

# 7. Attribute Error 
This happens when trying to access or call an attribute/method that doesn't exist for that type of object.

# incorrect code

In [14]:
my_string = "hello"  # the error occerd because no append method in string methods  
my_string.append("!")

AttributeError: 'str' object has no attribute 'append'

# correct code

In [22]:
x= [1,2,3]
print(x.append(4))
x

None

[1, 2, 3, 4]

# 8. KeyError
   This error occurs when you try to access a dictionary with a key that doesn't exist.

# incorrect code

In [30]:
my_dict = {"name": "nani"} # This error occurs because no key value in that  dictionary
print(my_dict["age"])

KeyError: 'age'

# correct code

In [28]:
my_dict = {"name": "nani"}
print(my_dict["name"])

nani